language: java
install: cd spark-knn-graphs && mvn --quiet install -DskipTests=true -Dmaven.javadoc.skip=true -Dgpg.skip=true
script: mvn test -Dmaven.javadoc.skip=true -DargLine="-Xmx2G"

env:
  - SPARKVERSION="1.5.2"
  - SPARKVERSION="1.6.0"
  - SPARKVERSION="1.4.1"
  - SPARKVERSION="1.6.2"
#after_success:
#  - cd spark-knn-graphs && mvn cobertura:cobertura coveralls:report
